@use "../../../styles/mixins.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.wrapper {
  overflow: hidden;
  position: relative;
  background-color: #eee;
  min-width: 280px;

  @include xs {
    width: 100%;
  }

  &:hover .actions {
    transform: translateY(-50px);
  }

  .productInfo {
    z-index: 200;
    padding: 20px;
    text-align: start;
    position: relative;
    z-index: 100;
    background-color: #eee;
    cursor: pointer;

    .title {
      font-weight: bold;
      text-transform: capitalize;
      color: #3a3a3a;
      font-size: 16px;
    }
    .description {
      text-transform: capitalize;
      color: #898989;
      display: block;
      margin-top: 10px;
    }

    .prices {
      margin-top: 10px;
      display: flex;
      align-items: center;
      gap: 12px;

      .newPrice {

        font-size: 20px;
        font-weight: bold;
        color: #3a3a3a;
      }

      .oldPrice {

        font-size: 16px;
        color: #b0b0b0;
        text-decoration: line-through;
      }
    }
  }

 .imageContainer{
   .image {
    display: block;
    width: 100%;
    object-fit: cover;
  }
 }

  .state {
    z-index: 2;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    background-color: #2ec1ac;
  }

  .new {
    background-color: #2ec1ac;
  }

  .sale {
    background-color: #e97171;
  }

  .actions {
    transition: all 0.5s ease;
    transform: translateY(100%);
    z-index: 3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    inset: 0;
    z-index: 1;

    .addtoCart {
      transition: all 0.3s ease;
      border-radius: 8px;
      border: none;
      outline: none;
      cursor: pointer;
      color: #b88e2f;
      padding: 15px 60px;
      font-size: 14px;
      font-weight: bold;
      text-transform: capitalize;
      &:hover {
        color: white;
        background-color: #b88e2f;
      }
    }

    .actionIcons {
      margin-top: 25px;
      display: flex;
      gap: 7px;

      .action {
        transition: all 0.3s ease;
        border: 1px solid white;
        border-radius: 8px;
        padding: 8px;
        display: flex;
        cursor: pointer;
        gap: 5px;
        align-items: center;
        &:hover {
          background-color: #b88e2f;
          border-color: #b88e2f;
        }
        span {
          font-size: 12px;
          color: white;
        }
        .icon {
          color: white;
          font-size: 18px;
        }
      }
    }
  }
}
